.App {
  padding: 20px;
}

.container {
  height: 100%;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionBtn {
  outline: none;
  border: 0px; 
  box-sizing: none; 
  background-color: transparent; 
}